.trusted{
  padding-top: 40px;
}
.btn-regulated{
padding: 10px 0;
width: 155px;
display: block;
margin: auto;
height: 37px;
background: rgba(58, 163, 26, 0.05);
border: 1.5px solid rgba(58, 163, 26, 0.05);
backdrop-filter: blur(5px);
border-radius: 100px;
font-family: 'Inter';
text-align: center;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.02em;
color: #3AA31A;
margin-bottom: 10px;
}
.trusted-inner{
  display: flex;
  flex-direction: row;
  column-gap: 84px;
  align-items: center;
  justify-content: center;
}
.trusted-textBox{
  width: 65%;
}
.trusted-imgBox{
  width: 35%;
  height: 450px;
}
.trusted-imgBox img{
  width: 100%;
  height: 100%;
}
.trusted-title{
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 35px;
text-align: center;
color: #FFFFFF;
margin-bottom: 16px;
}
.trusted-title span{
  color: #3AA31A;
}
.trusted-text{
width: 100%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: rgba(255, 255, 255, 0.75);
margin-bottom: 50px;
}
.trusted-innerBox{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.trusted-item{
  max-width: 132px;
  display: flex;
  flex-direction: column;
}
.trusted-sub{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
text-align: center;
color: #FFFFFF;
margin-bottom: 8px;
}
.trusted-par{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: center;
color: rgba(255, 255, 255, 0.85);
}
.trusted-awards{
  padding: 70px 20px 50px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.award-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.award-item img{
  width: 71px;
  height: 58px;
  margin-bottom: 8px;
}
.award-sub{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
margin-bottom: 8px;
}
.award-par{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: rgba(255, 255, 255, 0.85);
}

.spreads{
  padding: 80px 0;
background: rgba(11, 77, 199, 0.05);
}
.spread-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.spread-imgBox{
  width: 500px;
}
.spread-imgBox img{
  width: 100%;
  height: 100%;
}
.spread-textBox{
  width: 488px;
}
.spread-textBox h2{
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
margin-bottom: 8px;
}
.spreads-text{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin-bottom: 24px;
color: rgba(255, 255, 255, 0.8);
}
.spread-textBox ul{
  padding: 10px;
}
.spread-textBox li{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 16px;
}
.spread-textBox li p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: rgba(255, 255, 255, 0.8);
}
.spread-textBox li p span{
  color: #3AA31A;
}
.spread-textBox button{
  width: 165px;
  background-color: #3AA31A;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #F2F2F2;
border: none;
margin-top: 25px;
}
.choose{
  padding: 40px 0;
}
.choose-inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.choose-left{
  width: 40%;
}
.choose-left h2{
font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 35px;
text-align: center;
color: #FFFFFF;
margin-bottom: 8px;
text-align: start;
}
.choose-left h2 span{
  color: #3AA31A;
}
.choose-left p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
color: rgba(255, 255, 255, 0.75);
margin-bottom: 30px;
}
.choose-left button{
  width: 200px;
  background-color: #3AA31A;
font-family: 'Inter';
font-style: normal;

font-weight: 500;
font-size: 14px;
line-height: 17px;
border: none;
color: #F2F2F2;
margin-bottom: 30px;
}
.choose-left img{
  width: 100%;
}
.choose-right{
 width: 55%;
  background: rgba(11, 77, 199, 0.05);
  border: 1.5px solid rgba(11, 77, 199, 0.03);
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 26px;
}
.choose-item{
  display: flex;
  flex-direction: column;
  width: 236px;
}
.choose-item div{
width: 64px;
height: 64px;
background: #3AA31A;
border-radius: 8px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 12px;
}
.choose-sub{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
margin-bottom: 4px;
}
.choose-par{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
color: rgba(255, 255, 255, 0.9);
}
.features{
  padding-top: 100px;
}
.features-title{
font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 35px;
text-align: center;
margin-bottom: 8px;
color: #FFFFFF;
}
.features-text{
  max-width: 1000px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
margin: 0 auto;
margin-bottom: 66px;
color: rgba(255, 255, 255, 0.75);
}
.feature-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feature-item{
  width: 233px;
  display: flex;
  flex-direction: column;
  padding: 0 2px;
}
.feature-item img{
  width: 100%;
  margin-bottom: 12px;
}
.feature-item h4{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 21px;
color: #FFFFFF;
margin-bottom: 8px;
text-align: start;
}
.feature-item p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 19px;
color: rgba(255, 255, 255, 0.85);
}
.trading{
  padding: 100px 0;
}
.trading h2{
  margin-bottom: 86px;
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
text-align: center;
color: #FFFFFF;
}
.trading-inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
background: #3AA31A;
border-radius: 8px;
height: 260px;
}
.trading-item{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}
.trading-item div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
width: 64px;
height: 64px;
background: #FFFFFF;
border-radius: 8px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #3AA31A;
margin-bottom: 24px;
}
.trading-item h4{
  margin-bottom: 8px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}
.trading-item p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
text-align: center;
color: rgba(255, 255, 255, 0.75);
max-width: 325px;
margin: 0 auto;
}
.trading-item button{
  border: none;
  margin-top: 19px;
  width: 153px;
  background-color: #fff;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #3AA31A;
}
.trading-item-active{
  height: 320px;
  background-color: #0B4DC7;
  border-radius: 8px;
}

.accaount{
  padding: 80px 0;
background: rgba(11, 77, 199, 0.05);
}
.accaount h2{
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
text-align: center;
color: #FFFFFF;
margin-bottom: 12px;
}
.accaount p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
margin-bottom: 80px;
}
.accaount ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 32px;
  padding: 0;
  flex-wrap: wrap;
}
.accaount li{
  width: 330px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
background: rgba(255, 255, 255, 0.03);
border: 1.5px solid rgba(255, 255, 255, 0.1);
backdrop-filter: blur(10px);
border-radius: 8px;   
}
.accaount-basic{
padding: 10px 40px;
height: 37px;
background: rgba(58, 163, 26, 0.05);
border: 1px solid rgba(58, 163, 26, 0.05);
border-radius: 100px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #3AA31A;
margin-bottom: 12px;
}
.accaount h4{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-align: center;
color: #FFFFFF;
margin-bottom: 16px;
}
.tickLists{
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}
.tickItem{
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom: 11px;

}
.tickItem img{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.tickItem p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
}
.accaount-open{
  margin-bottom: 12px;
padding: 16px;
width: 138px;
height: 48px;
background: #3AA31A;
border-radius: 5px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FFFFFF;
border: navajowhite;
}
.faq{
  padding: 40px 0;
}
.faq h2{
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
text-align: center;
margin-bottom: 56px;
color: #FFFFFF;
}
.faq ul{
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.faq ul li{
  width: 100%;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 0 40px;
background: rgba(11, 77, 199, 0.03);
border: 1.5px solid rgba(11, 77, 199, 0.1);
border-radius: 8px;
}
.faq ul li p{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}
.faq ul li span{
color: #FFFFFF;
}
@media only screen and (max-width: 767px){
  .trusted-inner{
    flex-direction: column !important;
  }
  .trusted-imgBox{
    width: 100%;
  }
  .trusted-imgBox img{
    width: 321px;
    margin: 20px 0;
  }
  .trusted-textBox{
    width: 100%;
    padding: 0 20px;
    margin-top: 50px;
  }
  .trusted-innerBox{
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .trusted-item{
    width: 50%;
  }
  .trusted-awards{
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .award-item{
    width: 50%;
  }
  .spread-inner{
    display: flex;
    flex-direction: column;
  }
  .spread-imgBox{
    width: 100%;
    padding: 0 20px;
  }
  .spread-imgBox{
    width: 100%;
  }
  .spread-textBox{
    width: 100%;
    margin-top: 50px;
    padding: 0 20px;
  }
  .choose-inner{
    flex-direction: column;
    padding: 0 20px;
  }
  .choose-left{
    width: 100%;
  }
  .choose-left img{
width: 100%;
  }
  .choose-right{
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
  .choose-par{
    font-size: 12px;
  }
  .choose-item{
    width: 42%;
  }
  .feature-inner{
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .feature-item{
    width: 46%;
    margin-bottom: 30px;
  }
  .feature-item p{
    font-size: 12px;
  }
  .trading-inner{
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 0 auto;
  }
  .trading-item{
    width: 100%;
    padding: 20px 0;
  }
  .accaount ul{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .accaount li{
    width: 100%;
  }
  .faq ul{
    width: 100%;
    padding: 0;
  }
  .faq li{
    width: 100%;
  }
}